.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  padding-bottom: 20px;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/rectangle%2035-1500w.png");
}
.card-image {
  width: 356px;
  height: 413px;
  object-fit: cover;
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}

@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 864px;
  height: 620px;
  object-fit: cover;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image1 {
  width: 489px;
  height: 600px;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-unit);
}
.home-max-width {
  width: 1224px;
  align-self: flex-end;
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-orange100);
  width: var(--dl-size-size-medium);
  margin-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-image2 {
  width: 259px;
  height: 349px;
  object-fit: cover;
}
.home-image3 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.home-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.home-image4 {
  top: -124px;
  right: -658px;
  width: 312px;
  height: 340px;
  position: absolute;
  object-fit: contain;
}
.home-navbar {
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image5 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-text01 {
  color: var(--dl-color-scheme-orange100);
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text03 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-text04 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-text05 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-text06 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image6 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.home-text08 {
  color: var(--dl-color-scheme-orange100);
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-max-width2 {
  align-items: stretch;
}
.home-image7 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text15 {
  color: var(--dl-color-scheme-green80);
  height: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  font-size: 42px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text18 {
  color: var(--dl-color-scheme-orange100);
}
.home-section1 {
  height: 528px;
}
.home-max-width3 {
  height: 678px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text20 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text39 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text40 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text41 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text42 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text45 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text48 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text49 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text53 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text54 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text55 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text56 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .home-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image3 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-image7 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-container04 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-max-width {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-links {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-cards-container {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container04 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container04 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
